---
import Layout from "../layouts/Layout.astro";
import Prose from "../components/Prose.astro";
import NarrowContainer from "../components/NarrowContainer.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<Layout title="Maine Go">
  <Header />

  <main class="isolate">
    <div
      class="bg-[url('/maine-go-site/header.jpg')] h-96 bg-cover relative
		before:absolute before:inset-0 before:bg-gradient-to-b before:from-white/10 before:to-white"
    >
      <div class="flex items-center justify-center relative pt-16">
        <h1 class="text-5xl font-semibold px-6 py-3 bg-white/80 rounded-lg">
          Welcome to Maine Go
        </h1>
      </div>
    </div>
    <NarrowContainer class="bg-white/70 rounded-lg p-10 relative -mt-36">
      <Prose>
        <h2>News and Information for Maine Go Players</h2>

        <p>
          The goal of Maine Go is to promote the game of Go (Weiqi, Baduk) in
          Maine. If you play go, and would like to find a club to join, or other
          players in your area, let us know!
        </p>

        <p>
          We are now on Facebook! Find us Here. Or, search Facebook for Maine
          Go.
        </p>

        <h2>Clubs</h2>
        <h3>Southern Maine</h3>
        <h4>Portland - Casco Bay Go Club</h4>

        <p>
          The Casco Bay Go Club meets on the first and third Sunday of the
          month, between 12 and 3, at Quill Books and Beverage, 1 Westbrook
          Common, Unit 5, in Westbrook. For months that have five Sundays, the
          club also meets then.
        </p>

        <p>
          For more infomation about this club, check the Facebook page or
          contact Jasper using the contact form below.
        </p>

        <h2>Online</h2>
        <p>
          You can find us online in the Maine Go group on the Online Go Server
          (OGS). If you play on OGS, consider joining the group here: OGS Group
        </p>

        <h2>AGA</h2>
        <p>
          Maine Go is an American Go Association (AGA) chapter. If you are not a
          member, consider joining the AGA. The AGA provides support and ranking
          for its chapters and members. If you are interested in joining the
          AGA, you can join through Maine Go and get half off your first year
          membership!
        </p>

        <h2>Contact</h2>
        <p>
          For more information on any of the above, fill out the contact form
          below, and we will get back to you asap. Thanks!
        </p>
      </Prose>
    </NarrowContainer>
  </main>

  <Footer />
</Layout>
