---
import StickyHeader from "./StickyHeader.astro";
---

<StickyHeader>
  <nav class="flex items-center px-6 py-3 bg-white">
    <a class="font-semibold text-2xl" href="/">Maine Go</a>
    <div class="flex items-center ml-auto gap-2"></div>
  </nav>
</StickyHeader>
