---
interface Props {
  /**
   * Frontmatter might not be present if the page isn't generated from a Markdown file.
   */
  frontmatter?: Omit<Props, "frontmatter">;

  /**
   * The title of the page. This just goes in the meta tag.
   */
  title?: string;

  /**
   * Use this to add a hero image to the page.
   * The value of this should be the relative path to the image.
   */
  heroImage?: string;

  /**
   * Use this to add a header to the hero.
   */
  heroHeading?: string;
}

import Prose from "../components/Prose.astro";
import NarrowContainer from "../components/NarrowContainer.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title, heroImage, heroHeading } =
  Astro.props.frontmatter ?? Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Maine Go Club" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="h-full flex flex-col">
    <Header />

    <main class="isolate grow">
      {
        heroImage && (
          <div
            style={{
              backgroundImage:
                heroImage && "url('/maine-go-site/" + heroImage + "')",
            }}
            class:list={[
              heroImage &&
                "h-[500px] bg-right-bottom bg-cover flex items-center justify-center mb-8",
            ]}
          >
            {heroHeading && (
              <div class="flex items-center justify-center relative pt-17">
                <h1 class="text-5xl sm:text-5xl font-semibold px-2 sm:px-6 py-4 bg-white/80 rounded-lg text-center">
                  {heroHeading}
                </h1>
              </div>
            )}
          </div>
        )
      }
      <NarrowContainer
        class="bg-white/69 rounded-lg p-10 pt-40 relative -mt-36 h-full"
      >
        <Prose>
          <slot />
        </Prose>
      </NarrowContainer>
    </main>

    <Footer />
  </body>
</html>
